# Ignore massive raw data chunks
data/

# Ignore heavy model checkpoints/trained weights
*.pt
*.pth
*.pkl

# Block the massive raw data sheets
faers_combined_cleaned.csv
faers_combined_cleaned_pure_Reactions.csv
frequent_drugs_ADRs.csv

# Standard safety blocks
*.csv
*.png
.DS_Store

# Ignore local system/environment files
.env
venv/
.venv/
.ipynb_checkpoints/
__pycache__/
.DS_Storeadr_vocabulary.txt
adr_vocabulary.txt
*.npz
.DS_Store
